#about {
  padding: 10% 10% 3% 10%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.2rem solid aquamarine;
  font-size: 1.2rem;
}

.profilePic {
  width: 100%;
  box-shadow: 0 0 1rem 0.4rem black;
}

.welcome {
  padding: 6% 4% 4% 4%;
}

.welcome h1 {
  font-size: 2rem;
  font-family: 'Iceberg', sans-serif;
  color: magenta;
  margin-bottom: 3%;
}

.connect {
  padding: 4%;
  border-bottom: 0.2rem solid aquamarine;
}

.iconList {
  padding: 4% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}

.icons {
  color: aquamarine;
  transition: all ease-in-out 0.3s;
}

.icons:hover {
  color: magenta;
  transform: scale(150%);
}

.mailLink {
  text-decoration: none;
  color: aquamarine;
  font-size: 1.4rem;
}

.mailLink:hover {
  color: magenta;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
}

@media screen and (min-width: 768px) {
  #about {
    padding: 2%;
    border-right: 0.3rem solid aquamarine;
    box-shadow: 0 0 1rem black;
  }

  .profile,
  .links {
    font-size: 1.5rem;
  }

  .mailLink {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .mailLink {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .welcome h1 {
    font-size: 2.5rem;
  }

  .profile,
  .connect,
  .links {
    font-size: 2rem;
  }

  .mailLink {
    font-size: 2rem;
  }
}
