@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Keania+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aquamarine;
  font-family: 'Iceland', sans-serif;
}

header {
  text-align: center;
  padding: 2%;
  font-size: 2rem;
  font-family: 'Keania One', sans-serif;
  border-bottom: 0.3rem solid aquamarine;
  box-shadow: 0 0 1rem aquamarine;
}

#logo {
  text-decoration: none;
  color: magenta;
}

.links {
  text-decoration: none;
  color: black;
  background-color: aquamarine;
  padding: 2% 6%;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all ease-in-out 0.5s;
}

.links:hover {
  background-color: magenta;
  transform: scale(120%);
}

footer {
  color: magenta;
  padding: 3% 0 5% 6%;
  font-size: 1.7rem;
  border-top: 0.2rem solid aquamarine;
  box-shadow: 0 0 1rem aquamarine;
}

@media screen and (min-width: 768px) {
  header {
    padding: 1%;
    font-size: 2.5rem;
  }

  main {
    display: flex;
  }

  footer {
    padding: 1% 1% 1% 5%;
    font-size: 2.5rem;
  }
}
